@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
};

:root {
  --primary: #591420;
  --secondary: #f5ddd2;
 --color-cherry: #a855f7; /* purple-500 */
  --color-lime: #65a30d;   /* lime-600 */
  --color-coffee: #92400e; /* amber-800 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --font-poppins: var(--font-poppins);
  --font-cream-cake: var(--font-cream-cake);
  
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-cherry: var(--cherryColor);
   --color-lime: var(--limeColor); 
   --color-coffe: var(--coffeColor);
}

@layer utilities {
  .text-stroke-primary {
    -webkit-text-stroke: 2px #591420;
  }
  
  .text-stroke-secondary {
    -webkit-text-stroke: 2px #f5ddd2;
  }

    .text-stroke-secondary-1 {
    -webkit-text-stroke: 1px #f5ddd2;
  }
}

 .underline-effect {
   @apply relative cursor-pointer;
 }

 .underline-effect::after {
   content: '';
   @apply absolute h-0.5 w-0 bottom-0 left-0 bg-secondary transition-all;
 }

 .underline-effect:hover::after {
   @apply w-full;
 }

